* {
    box-sizing: border-box;
  }

body{
    background: linear-gradient(to right,rgb(131, 85, 94), rgb(226, 53, 53));
}

header {
    padding: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ffffff;
    text-align: center;
}

header h1{
    font-size: larger;
    padding: 1em;
}

header p {
    font-size: large;
    width: 50%;
    margin: 0 auto;
}

#work {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* flex-start or stretch? */
    align-items: stretch;
}

.container{
    border-style: dashed;
    margin: 0% 2% 30px 2%;
    padding: 4px;
    flex: 1 0 26%;
    transition: flex-basis .5s linear;
}

.standardbox {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
    min-height: 100%;
}

.container .standardbox h2{
    position: relative;
    margin: -2rem 0 1rem 0;
    border-radius: 15px;
    background-color: white;
    padding: 1em 0 1em 0;
    width: 60%;
    border-style: solid;
}

.container .standardbox p {
    width: 75%;
    margin-bottom: 1rem;
}

.container .standardbox .code-block {
    flex-grow: 1;
}

.container .standardbox pre {
    white-space: pre-wrap;
    overflow: auto;
    tab-size: 4;
    border-radius: 8px;
    display: flex;
    align-items: center;
    background: white;
    text-align: left;
    width: 75%;
    padding: 6px;
    margin-bottom: 10px;
    -moz-user-select: all;
    -webkit-user-select: all;
    -ms-user-select: all;
    user-select: all;
}

.container .standardbox pre code{
    background: white;
    height: 80%;
}

footer {
    padding: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ffffff;
    text-align: center;
}

footer h2 {
    font-size: large;
}

/* Selection Animation */

.standardbox:hover{
    flex: 1 0 34%;
}

/* Media Screen Changes */

@media screen and (max-width: 992px){
    .container {
        flex: 1 0 45%;
    }
}

@media screen and (max-width: 768px){
    #work {
        flex-direction: column;
    }
}